/* CurrentChapterPage.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-l);
  font-size: var(--s-font);
}

.container h1 {
  font-size: var(--xl-font);
}

.container h2 {
  font-size: var(--m-font);
  font-weight: 200;
}
.container h3 {
  font-size: var(--m-font);
}

.subsection {
  margin: var(--margin-m) 0 var(--margin-m) var(--margin-m);
}

