.noteContainer {
  position: relative;
  transform: translateY(-50%);
}

.sharp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  transform-origin: bottom;
  z-index: 1;
  display: inline-flex;
}

.note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -72%);
  transform-origin: bottom;
  z-index: 1;
  display: inline-flex;
  font-size: 80px;
}

.clef {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transform-origin: bottom;
  z-index: 1;
  font-size: 180px;
}

.noteLine {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  bottom: 27%;
  transform: translateX(55%);
}
