.noteContainer {
  position: relative;
  transform: translateY(-50%);
}

.sharp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  transform-origin: bottom;
  z-index: 1;
  display: inline-flex;
}

.note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -72%);
  transform-origin: bottom;
  z-index: 1;
  display: inline-flex;
  font-size: var(--piano-note-size);
}

.clef {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  transform-origin: bottom;
  z-index: 1;
  font-size: calc(var(--piano-note-size) * 2);
}

.nextKey {
  color: var(--next-note) !important;
}

.wrong {
  color: var(--wrong-note) !important;
}

.correct {
  color: var(--right-note) !important;
}

.noteLine {
  position: absolute;
  width: 30px;
  height: 3px;
  bottom: 27%;
  transform: translateX(55%);
  background-color: black;
}

.nextKey .noteLine {
  background-color: var(--next-note) !important;
}

.wrong .noteLine {
  background-color: var(--wrong-note);
}

.correct .noteLine {
  background-color: var(--right-note);
}
