.container {
  height: 100%;
}

.content {
  height: calc(100% - 50px);
  font-family: system-ui, sans-serif;
  line-height: 1.7;
  overflow-y: scroll;
  --sb-width: 12.5rem;
}

.sidebar {
  position: fixed;
  inset: 50px auto 0 0;
  width: var(--sb-width);
  z-index: 500;
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s ease-in-out;
  background-color: var(--background);
}

/* When sidebar is open, slide in smoothly */
.sbExpanded .sidebar {
  transform: translateX(0);
}

/* When closing, animate out */
.sidebar.sbClosing {
  transform: translateX(-100%);
}

/* Main Content */
.main {
  padding: var(--margin-m) var(--margin-xl);
  transition: margin-left 0.5s ease-in-out;
  overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
  .sbExpanded .main {
    margin-left: var(--sb-width);
  }
}

/* When sidebar is hidden, shift main to the left */
@media only screen and (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}
