.button {
  padding: var(--btn-padding);
  font-size: var(--xs-font);
  border-radius: var(--btn-radius);
  color: var(--contrast-text);
  font-weight: 600;
  box-shadow: var(--drop-shadow-s);
}

.button:hover {
  background-color: var(--special) !important;
}
