.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 270px;
  margin-top: var(--margin-m);
  background-color: var(--secondary);
  padding: var(--margin-s);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

.exercisesHeader {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  font-size: var(--s-font);
  font-weight: bold;
  cursor: pointer;
}

.exercises {
  display: flex;
  flex-direction: column;
  gap: var(--margin-m);
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
