.card {
  border-radius: var(--border-radius);
  padding: var(--margin-m);
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: var(--drop-shadow-s);
}

.cardHeader {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.cardHeader span {
  font-weight: 300;
  font-size: var(--s-font);
}

.cardInfo {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-size: var(--s-font);
}

.cardInfoItem p {
  font-size: var(--xs-font);
}
