.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: var(--margin-xl);
  gap: var(--margin-m);
}

.title {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.titleButtons {
  display: inline-flex;
  gap: var(--margin-s);
}

.title button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--xs-font);
  font-weight: bold;
}

.header {
  width: 100%;
}

.instructions {
  font-size: var(--m-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-xs);
  text-align: center;
}

.hint {
  font-size: var(--s-font);
}
