.card {
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  font-size: var(--s-font);
  gap: var(--margin-xs);
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--margin-xs);
}

.cardInfo {
  display: inline-flex;
  gap: var(--margin-m);
}

.card button {
  display: flex;
  align-items: center;
  font-size: var(--xs-font);
  gap: var(--margin-xxs);
}

.card button:hover span {
  background-color: var(--special);
}

.card button:active span {
  box-shadow: none;
}

.card span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--xs-font);
  color: var(--contrast-text);
  box-shadow: var(--drop-shadow-s);
  font-weight: bold;
}

.card span.completed {
  box-shadow: none;
  background-color: red;
}
