.card {
  height: 150px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  box-shadow: var(--drop-shadow);
  overflow: hidden;
  position: relative;
}

.cardHeader {
  padding: 15px;
  background-color: var(--secondary);
  font-weight: bold;
  color: var(--contrast-text);
}

.cardInfo {
  padding: 15px 0;
  flex-grow: 1;
  background-color: var(--background);
  display: inline-flex;
  justify-content: space-between;
  font-size: var(--xs-font);
  position: relative;
  align-items: flex-end;
}

.cardInfoItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.cardInfoItem span {
  font-weight: bold;
  font-size: var(--m-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--contrast-text);
  font-size: var(--xl-font);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--drop-shadow-s);
}

.circleButton:hover {
  background-color: var(--accent);
}

.test {
  background-color: var(--accent2);
}
