@import "tailwindcss";

:root {
  /* FONTS */
  --font-size: 20px;
  --xxs-font: 0.3rem;

  --xs-font: 0.5rem;
  --s-font: 0.75rem;
  --m-font: 1rem;
  --l-font: 1.25rem;
  --xl-font: 1.5rem;
  --xxl-font: 2rem;

  /* MARGINS */
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;

  /* COLORS */
  --background: #ffffff;
  --secondary: #8083ff;
  --text: black;
  --contrast-text: #fff;
  --accent: #684afa;

  --accent2: red;

  --border-radius: 15px;

  --drop-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.25);
  --drop-shadow-s: 0 2px 5px 2px rgba(0, 0, 0, 0.25);

  /* PIANO */
  --black-key-w: 45px;
  --piano-key-h: 250px;
  --piano-sheet-size: 40px;
  --piano-note-size: 80px;

  --wrong-note: red;
  --wrong-note-position: orange;
  --right-note: green;
  --next-note: purple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

html {
  font-size: var(--font-size);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

main {
  width: 100%;
  height: 100%;
  padding: var(--margin-m) var(--margin-xxl);
  overflow-y: auto;
}

.maxWidth {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

/* Hide scrollbars for all browsers */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 768px) {
  main {
    padding: var(--margin-m) var(--margin-l);
  }
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

button:disabled {
  box-shadow: none !important;
  background-color: gray !important;
  cursor: default;
}

button:disabled:hover {
  cursor: default;
  background-color: gray !important;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: var(--margin-m);
  border-radius: 8px;
  text-align: center;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-m);
  flex-shrink: 0;
  flex-basis: auto;
  z-index: 1001;
}
