.container {
  height: 100%;
  width: 100%;
  font-size: var(--s-font);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: var(--margin-s) var(--margin-s) 50px var(--margin-s);
  border-right: 0.1px solid var(--border-color);
}

.container h2 {
  font-size: 1.2em;
}

.bold {
  font-weight: bold;
  color: var(--accent);
}

.categories,
.container,
.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarItem {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 0.8em;
  text-align: start;
}

.sidebarItem button {
  text-align: start;
}

.sidebarItem:hover {
  color: var(--accent);
}

.section {
  margin-left: 15px;
}

.guideLine {
  position: relative;
}

.guideLine::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 0;
  bottom: 0;
  width: 0.5px;
  background-color: black;
}
